# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Bundler
/.bundle

# Environment variables
/.env*

# Logs
/log/*
!/log/.keep

# Temporary files
/tmp/*
!/tmp/.keep

# PID files
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Storage
/storage/*
!/storage/.keep

/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Rails assets
/public/assets

# Tailwind build output
/app/assets/builds/*
!/app/assets/builds/.keep

# Rails credentials
/config/*.key

# Coverage reports
/coverage

# Docker
docker-compose.override.yml

# Bundler vendor directory
/vendor/bundle

# Node modules (por si en el futuro los utilizas)
/node_modules

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/

# RubyMine
*.iml

# Byebug
.byebug_history